.nav {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: #e63946;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    border-bottom: 2px black solid;
}

.nav-links {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f1faee;
}

.nav-links * {
    color: #f1faee;
    font-size: 18px;
}

.nav-item>a:hover{
    transform: scale(1.2);
}

.nav-item>a:visited:hover{
    color: black;
    transform: scale(1.2);
}

.nav-item>a:visited{
    color: #f1faee;
}

.nav-item>a:focus{
    transform: scale(1.2);
    color: black
}

.active{
    color: black !important;
    transform: scale(1.2) !important;
}